{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>How to Delete Uploaded File in Dropzone JS?</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.2.0/min/dropzone.min.js"></script>

  <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
  <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">

  <link rel="stylesheet" href="{% static 'style.css'%}">

</head>
<body>
  
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>How to Delete Uploaded File in Dropzone JS? - ItSolutionStuff.com</h2>

      <form action="upload/" enctype="multipart/form-data" class="dropzone dz" id="image-upload">
        {% csrf_token %}
        <input type="hidden" name="request" value="add">
      </form>
      
    </div>
  </div>
</div>
  
<script type="text/javascript">
  
    Dropzone.autoDiscover = false;
  
    var myDropzone = new Dropzone(".dropzone", { 
       acceptedFiles: ".jpeg, .jpg, .png, .gif, .pptx, .ppt, .doc,.docx, .xls, .xlsx,.csv, .tsv, .ppt,.pptx,.pages,.odt,",
       addRemoveLinks: true,
       parallelUploads: 20,
       maxFiles: 20,
       uploadMultiple: true,
       maxFilesize: 256*4*2,
       dictRemoveFile: "Remove",
   
    });
      
</script>
  
</body>
</html> 
